<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/contact.css">
</head>
<body>
    <header>
        <img class="logo" src="/Users/mac/Desktop/★/port final/statics/img/pes.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/Users/mac/Desktop/★/port final/templates/index.html">home</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/qs.html">¿quién soy?</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/gustos.html">gustos</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/habilidades.html">habilidades</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/galeria.html">galeria</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">trabajos</a></li>
            </ul>
        </nav>
        <a class="cta" href="/Users/mac/Desktop/★/port final/templates/contact.html"><button>contact</button></a>
    </header>
    
    <div class="parent">
        <div class="div1"> 
            <a href="https://wa.me/7472583237">
                <img src="/Users/mac/Desktop/★/port final/statics/img/whatsapp.png" alt="Description of the image">
            </a>
        </div>
        <div class="div2">
            <a href="https://github.com/ar4ntza?">
                <img src="/Users/mac/Desktop/★/port final/statics/img/githubsito.png" alt="Description of the image">
            </a>
        </div>
        <div class="div3"> 
            <a href="https://stackoverflow.com/users/22613243/arantza-garc%c3%ada">
                <img src="/Users/mac/Desktop/★/port final/statics/img/githubsito (1).png" alt="Description of the image">
            </a>
        </div>
        <div class="div4">
            <a href="https://mail.google.com">
                <img src="/Users/mac/Desktop/★/port final/statics/img/mailsito.png" alt="Description of the image">
            </a>
        </div>
        <div class="div5"> 
            <a href="https://replit.com/@arantzagarcia3">
                <img src="/Users/mac/Desktop/★/port final/statics/img/repl.png" alt="Description of the image">
            </a>
        </div>
    </div>
        
        
</body>
</html>