<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployment</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/portafolio.css">
</head>

<body>
    <div>
        <a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">
            <img class="nyan" src="/Users/mac/Desktop/★/port final/statics/img/regresar.gif" alt="Description of the image">
        </a>
    </div>
    <h1>
        Portafolio #1: Deployment. ☆ *:・ﾟ
    </h1>
    <br> </br>

    <section class="layout">
        <div>
            <br> </br>
            <br> </br>
            <h2>
                Descripción del trabajo:
            </h2>

            <p>
                El deployment de un sitio web significa que está implementando los cambios que ha realizado en su sitio web, normalmente código, desde el control de código fuente hasta un entorno (normalmente desarrollo, ensayo o en vivo) .
            </p>
            <p>
                Este trabajo tuvo el objetivo de hacer nuestro primer deployment utilizando un acercamiento al entorno virtual usando github pages.
            </p>
        </div>

        <div>
            <a href="https://ar4ntza.github.io/port-repo/">
                <img class="presentacion" src="/Users/mac/Desktop/★/port final/statics/img/deploy1.gif" alt="Description of the image">
            </a>
        </div>
        
        <div>
            <br> </br>
            <img class="presentacion2" src="/Users/mac/Desktop/★/port final/statics/img/deploy2.gif" alt="Description of the image">
        </div>
    </section>  
</body>
</html>