<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flutterflow</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/portafolio.css">
</head>
<body>
    <div>
        <a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">
            <img class="nyan" src="/Users/mac/Desktop/★/port final/statics/img/regresar.gif" alt="Description of the image">
        </a>
    </div>
    <h1>
        Flutterflow ~(>_<~).
    </h1>
    <br> </br>

      <section class="layout">
        <div>
            <img class="d" src="/Users/mac/Desktop/★/port final/statics/img/ff1.png" alt="Description of the image">
        </div>
        <div>
            <h2>
                Descripción del trabajo:
            </h2>

            <p>
                FlutterFlow es un generador de código bajo para aplicaciones móviles nativas que reúne diseño y desarrollo de aplicaciones en una sola herramienta.
            </p>
            <p>
                Este trabajo tuvo el objetivo de conocer y trabajar con la tecnologías de flutterflow en relacion al desarrollo de aplicaciones moviles.
            </p>
            <p>
                Para este trabajo nos ayudamos de la plataforma de dribbble, donde elegimos una plantilla y en base a ella dearrollmaos la app en flutterflow.
                <a href="https://preview.flutterflow.app/animal-crossing-7x94js/Y8Q5w4icwUZpgv7OTHmA">Link a la página ♡</a>
            </p>
        </div>
        <div>
            <img class="d" src="/Users/mac/Desktop/★/port final/statics/img/ff2.png" alt="Description of the image">
        </div>
      </section>
    
</body>
</html>