<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/galeria.css">
</head>
<body>
    <header>
        <img class="logo" src="/Users/mac/Desktop/★/port final/statics/img/pes.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/Users/mac/Desktop/★/port final/templates/index.html">home</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/qs.html">¿quién soy?</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/habilidades.html">habilidades</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/gustos.html">gustos</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">trabajos</a></li>
            </ul>
        </nav>
        <a class="cta" href="templates/contact.html"><button>contact</button></a>
    </header>

    <div class="div1">
        <h1>Galeria ☆(＃××)</h1>
    </div>

    <div class="div2">
        <img src="/Users/mac/Desktop/★/port final/statics/img/gustos.png">
    </div>
    
</body>
</html>