<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustos</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/gustos.css">
</head>
<body>
    <header>
        <img class="logo" src="/Users/mac/Desktop/★/port final/statics/img/pes.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/Users/mac/Desktop/★/port final/templates/index.html">home</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/qs.html">¿quién soy?</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/habilidades.html">habilidades</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/galeria.html">galeria</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">trabajos</a></li>
            </ul>
        </nav>
        <a class="cta" href="/Users/mac/Desktop/★/port final/templates/contact.html"><button>contact</button></a>
    </header>

    <div class="parent">
        <div class="div1">
            <img src="/Users/mac/Desktop/★/port final/statics/img/gustos.JPG" alt="">
        </div>
        <div class="div2">
            <h1>
                Mis gustos (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
            </h1>
        </div>
        <div class="div3">
            <p>Tengo gustos muy variados, pero se centran mayormente en música y el cine. <br> ♡ El espacio (me gustaría aplicar para una pasantía en SpaceX). <br> ♡ Mis animales fvoritos son los cuyos, dinosaurios y perros. <br> ♡ Mis cantantes favoritos son: Radiohead, Blackpink y Michael Jakcson. <br> ♡ Finalmente, mis peliculas (y serie) favoritas son la saga de twilight, Avengers, y The Walking Dead </p>
        </div>
        </div>

</body>
</html>