<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/habilidades.css">
</head>
<body>
    <header>
        <img class="logo" src="/Users/mac/Desktop/★/port final/statics/img/pes.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/Users/mac/Desktop/★/port final/templates/index.html">home</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/qs.html">¿quién soy?</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/gustos.html">gustos</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/galeria.html">galeria</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">trabajos</a></li>
            </ul>
        </nav>
        <a class="cta" href="/Users/mac/Desktop/★/port final/templates/contact.html"><button>contact</button></a>
    </header>

    <h1>
        Mis habilidades ヽ(>∀<☆)ノ
    </h1>

    <br> </br>
    <br> </br>

    <div class="parent">
        <div class="div1">
            <img src="/Users/mac/Desktop/★/port final/statics/img/radarsito.png" alt="">
         </div>
        <div class="div2">
            <h2> Diseño de circuitos</h2>
            <p> A lo largo de la preparatoria, aprendí a diseñar circuitos electronicos, identificando todos sus componentes y la función del mismo. </p>
         </div>
        <div class="div3">
            <img src="/Users/mac/Desktop/★/port final/statics/img/assemply.jpg" alt="">
        </div>
        <div class="div4">
            <h2> Ensamble de circuitos</h2>
            <p> Relacionado a la anterior, una parte importante es ensamblar un circuito. Por ende, se usar diferentes herramientas, por ejemplo, cautin. </p>
        </div>
        <div class="div5">
            <img src="/Users/mac/Desktop/★/port final/statics/img/cablesitos.png" alt="">
        </div>
        <div class="div6">
            <h2> Arduino IDE </h2>
            <p> Manejo y trabajo con facilidad el programa de Arduino IDE. Lo que me permite llevar cualquier circuito a otro nivel, intengrando nuevos elementos. </p>
        </div>
        <div class="div7">
            <img src="/Users/mac/Desktop/★/port final/statics/img/progra.jpg" alt="">
        </div>
        <div class="div8">
            <h2> Programación</h2>
            <p> A lo largo de la preparatoria, aprendí a programar en C. Posteriormente, por cuenta propia tomé cursos para ampliar mi conocimiento en lenguajes. </p>
        </div>
        <div class="div9">
            <img src="/Users/mac/Desktop/★/port final/statics/img/6a.JPG" alt="">
        </div>
        <div class="div10">
            <h2> Trabajo en equipo </h2>
            <p> Aprecio y valoro el trabajo en equipo, así como el intercambio de ideas para enriquecer lo maximo en un proyecto. Alentarnos a siempre ser mejores. </p>
        </div>
        </div>

</body>
</html>