<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primero Portafolio</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/portafolio.css">
</head>
<body>
    <div>
        <a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">
            <img class="nyan" src="/Users/mac/Desktop/★/port final/statics/img/regresar.gif" alt="Description of the image">
        </a>
    </div>
    <h1>
        Primer portafolio. ｡ﾟ( ﾟ^∀^ﾟ)ﾟ｡
    </h1>
    <br> </br>

      <section class="layout2">
        <div>
            <h2>
                Descripción del trabajo:
            </h2>

            <p>
                Un portafolio de desarrollador web es una colección de trabajos que muestra las habilidades, la experiencia y los proyectos de un desarrollador web.            </p>
            <p>
                Este trabajo tuvo el objetivo crear nuestro primer portadolio donde dieramos una descripción de nosotros, así como nuestras habilidades.
            </p>
        </div>
        <div>
            <a href="https://github.com/ar4ntza/port-repo.git">
                <img class="presentacion" src="/Users/mac/Desktop/★/port final/statics/img/repositorio1.gif" alt="Description of the image">
            </a>
        </div>
      </section>

      <section class="layout">
        <div>
            <img class="d" src="/Users/mac/Desktop/★/port final/statics/img/1.png" alt="Description of the image">
        </div>
        <div>
            <img class="d" src="/Users/mac/Desktop/★/port final/statics/img/port1.png" alt="Description of the image">
        </div>
        <div>
            <img class="d" src="/Users/mac/Desktop/★/port final/statics/img/2.png" alt="Description of the image">
        </div>
      </section>

</body>
</html>