<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectos</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/proyectos.css">
</head>
<body>
    <header>
        <img class="logo" src="/Users/mac/Desktop/★/port final/statics/img/pes.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/Users/mac/Desktop/★/port final/templates/index.html">home</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/qs.html">¿quién soy?</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/gustos.html">gustos</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/habilidades.html">habilidades</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/galeria.html">galeria</a></li>

            </ul>
        </nav>
        <a class="cta" href="/Users/mac/Desktop/★/port final/templates/contact.html"><button>contact</button></a>
    </header>


    <h1>
        Mis trabajos ʕ •ᴥ• ʔ
    </h1>

    <section class="layout">
        <div>
            <h2> Entrevista: Stackoverflow </h2>
            <div>
                <img src="/Users/mac/Desktop/★/port final/statics/img/trabajos.png" alt="1">
            </div>
        </div>
        <div>
            <h2> Portafolio #1 </h2>
            <div>
                <img src="/Users/mac/Desktop/★/port final/statics/img/trabajos2.png" alt="2"> 
            </div>
        </div>
        <div>
            <h2> Portafolio #1: Deployment </h2>
            <div>
                <img src="/Users/mac/Desktop/★/port final/statics/img/trabajos3.png" alt="3">
            </div>
        </div>
        <div>
            <h2> Presentación: Tecnologías  </h2>
            <div>
                <img src="/Users/mac/Desktop/★/port final/statics/img/trabajos4.png" alt="4">
            </div>
        </div>
        <div>
            <h2> Venv y Flask </h2>
            <div>
                <img src="/Users/mac/Desktop/★/port final/statics/img/trabajos5.png" alt="5"> 
            </div>
        </div>
        <div>
            <h2> Flutterflow </h2>
            <div>
                <img src="/Users/mac/Desktop/★/port final/statics/img/trabajos6.png" alt="6">
            </div>
        </div>
        <div>
            <h2> Teacheable Machine </h2>
            <div>
                <img src="/Users/mac/Desktop/★/port final/statics/img/trabajos7.png" alt="7"> 
            </div>
        </div>
      </section>
    
</body>
</html>