<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quién soy?</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/qs.css">
</head>
<body>
    <header>
        <img class="logo" src="/Users/mac/Desktop/★/port final/statics/img/pes.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/Users/mac/Desktop/★/port final/templates/index.html">home</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/gustos.html">gustos</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/habilidades.html">habilidades</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/galeria.html">galeria</a></li>
                <li><a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">trabajos</a></li>
            </ul>
        </nav>
        <a class="cta" href="/Users/mac/Desktop/★/port final/templates/contact.html"><button>contact</button></a>
    </header>

    <section class="layout">
        <div class="div1"><img src="/Users/mac/Desktop/★/port final/statics/img/pluto1.jpg" alt="pluto1"> </div>
        <div class="div2">
            <h1> ¿Quién soy? ☆ </h1> 
            <p>Hola, soy Arantza García, pero prefiero que me llamen Ara/Ari. Tengo 18 años y estoy estudando la licenciaura en ingeniería en sistemas computacionales. Soy originaria del estado de Guerrero, pero llevo viviendo en Puebla desde 2021. Al rededor de 2022 me di cuenta que disfrutaba mucho la programación y la construcción de circuitos electronicos, he armado robots desde 0</p>
        </div>
        <div class="div3"> <img src="/Users/mac/Desktop/★/port final/statics/img/pluto2.jpg" alt="pluto2"></div>
      </section>

</body>
</html>