<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>entrevista stackoverflow</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/stackoverflow.css">
</head>
<body>
    <div>
        <a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">
            <img class="nyan" src="/Users/mac/Desktop/★/port final/statics/img/regresar.gif" alt="Description of the image">
        </a>
    </div>
    <h1>
        Entrevista: Stackoverflow. ☆ *:・ﾟ
    </h1>
    <br> </br>

    <section class="layout">
        <div>
            <br> </br>
            <br> </br>
            <br> </br>
            <br> </br>
            <h2>
                Descripción del trabajo:
            </h2>

            <p>
                Stack Overflow es un sitio de preguntas y respuestas para programadores profesionales y aficionados. Contiene preguntas y respuestas sobre una amplia gama de temas de programación.
            </p>
            <p>
                Este primer trabajo tuvo el objetivo de tener un primer acercamiento al entorno de open soure, así como conocer las tendencias y experiencias de otros developers durante el año 2023.
            </p>
        </div>

        <div>
            <a href="/Users/mac/Desktop/★/port final/documentos/ds 2023 (1).pdf">
                <img class="presentacion" src="/Users/mac/Desktop/★/port final/statics/img/ds.png" alt="Description of the image">
            </a>
        </div>
    </section>

</body>
</html>