<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venv y Flask</title>
    <link rel="stylesheet" href="/Users/mac/Desktop/★/port final/statics/styles/portafolio.css">
</head>
<body>
    <div>
        <a href="/Users/mac/Desktop/★/port final/templates/trabajos.html">
            <img class="nyan" src="/Users/mac/Desktop/★/port final/statics/img/regresar.gif" alt="Description of the image">
        </a>
    </div>
    <h1>
        Venv y Flask. (.❛ ᴗ ❛.)
    </h1>
    <br> </br>

      <section class="layout">
        <div>
            <img class="d" src="/Users/mac/Desktop/★/port final/statics/img/venv1.png" alt="Description of the image">
        </div>
        <div>
            <h2>
                Descripción del trabajo:
            </h2>

            <p>
                El módulo venv proporciona soporte para crear «entornos virtuales» ligeros con sus propios directorios de ubicación, aislados opcionalmente de los directorios de ubicación del sistema.
            </p>
            <p>
                Este trabajo tuvo el objetivo de conocer y trabajar con múltiples tecnologías como lo fue el framework de flask y un entorno cirtual en python.
            </p>
            <p>
                Los entornos virtuales de Python ayudan a desacoplar y aislar las instalaciones de Python y los paquetes pip asociados . Esto permite a los usuarios finales instalar y administrar su propio conjunto de paquetes.
                <a href="https://github.com/ar4ntza/repo-venv.git">Link al repositorio ♡</a>
            </p>
        </div>
        <div>
            <img class="d" src="/Users/mac/Desktop/★/port final/statics/img/venv2.png" alt="Description of the image">
        </div>
      </section>
    
</body>
</html>